relax/event/origin.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
        xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xsd="http://http://www.w3.org/2001/XMLSchema">
        <start>
                <ref name="origin"/>
        </start>
        <include href="../base/include/timeRange.rng"/>
        <include href="../base/include/range.rng"/>
        <define name="origin">
                <choice>
                        <ref name="name"/>
                        <ref name="geographicalRegion"/>
                        <ref name="seismicRegion"/>
                        <ref name="originTimeRange"/>
                        <externalRef href="../base/externalRef/magnitudeRange.rng"/>
                        <ref name="depthRange"/>
                        <ref name="originPointDistance"/>
                        <ref name="eventArea"/>
                        <externalRef href="catalog.rng"/>
                        <externalRef href="contributor.rng"/>
                        <ref name="arrayAND"/>
                        <ref name="arrayOR"/>
                        <ref name="AND"/>
                        <ref name="OR"/>
                        <ref name="XOR"/>
                        <ref name="NOT"/>
                        <ref name="NULL"/>
                </choice>
        </define>
    <define name="name">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Matches the event name. </summary>
                <description> Evaluates to true if the name of the event matches the string. </description>
                <example>
                    <eventAttrName>Fred</eventAttrName>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="eventAttrName">
            <data type="string"/>
        </element>
    </define>
    <define name="geographicalRegion">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Matches the geographic Flinn-Engdahl region number. </summary>
                <description> Evaluates to true if the numerical value of the geographic region of
                    the event matches one of the values in the list. </description>
                <example>
                    <geographicRegion>
                        <value>12 47</value>
                    </geographicRegion>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="geographicalRegion">
            <list>
                <oneOrMore>
                    <data type="nonNegativeInteger"/>
                </oneOrMore>
            </list>
        </element>
    </define>
    <define name="seismicRegion">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Matches the seismic Flinn-Engdahl region number. </summary>
                <description> Evaluates to true if the numerical value of the seismic region of the
                    event matches one of the values in the list. </description>
                <example>
                    <seismicRegion>
                        <value>12 47</value>
                    </seismicRegion>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="seismicRegion">
            <list>
                <oneOrMore>
                    <data type="nonNegativeInteger"/>
                </oneOrMore>
            </list>
        </element>
    </define>
        <define name="originTimeRange">
                <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                                <summary> Matchs events who's preferred origin's origin time occurs
                                        within the given time range. </summary>
                                <description/>
                                <example>
                                        <originTimeRange>
                                                <timeRange>
                                                  <startTime>20010101T00:00:00Z</startTime>
                                                  <endTime>20011231T00:00:00Z</endTime>
                                                </timeRange>
                                        </originTimeRange>
                                </example>
                        </xsd:documentation>
                </xsd:annotation>
                <element name="originTimeRange">
                        <ref name="timeRange"/>
                </element>
        </define>
        <define name="depthRange">
                <element name="originDepthRange">
                        <element name="unitRange">
                                <ref name="range"/>
                        </element>
                </element>
        </define>
        <define name="eventArea">
                <element name="eventArea">
                        <externalRef href="../base/externalRef/area.rng"/>
                </element>
        </define>
        <define name="arrayAND">
                <element name="originArrayAND">
                        <ref name="origin"/>
                </element>
        </define>
        <define name="arrayOR">
                <element name="originArrayOR">
                        <ref name="origin"/>
                </element>
        </define>
        <define name="AND">
                <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                                <summary> Logical AND between Origin subsetters. </summary>
                                <description> The output is the logical AND of the outputs of all
                                        included Origin subsetters. The subsetters after the first
                                        false outputed are not evaluated. </description>
                                <example>
                                        <originAND>
                                                <catalog>
                                                  <value>FINGER</value>
                                                </catalog>
                                                <contributor>
                                                  <value>NEIC</value>
                                                </contributor>
                                        </originAND>
                                </example>
                        </xsd:documentation>
                </xsd:annotation>
                <element name="originAND">
                        <oneOrMore>
                                <ref name="origin"/>
                        </oneOrMore>
                </element>
        </define>
        <define name="OR">
                <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                                <summary> Logical OR between Origin subsetters. </summary>
                                <description> The output is the logical OR of the outputs of all
                                        included Origin subsetters. The subsetters after the first
                                        true outputed are not evaluated. </description>
                                <example>
                                        <originOR>
                                                <catalog>
                                                  <value>FINGER</value>
                                                </catalog>
                                                <contributor>
                                                  <value>NEIC</value>
                                                </contributor>
                                        </originOR>
                                </example>
                        </xsd:documentation>
                </xsd:annotation>
                <element name="originOR">
                        <oneOrMore>
                                <ref name="origin"/>
                        </oneOrMore>
                </element>
        </define>
        <define name="XOR">
                <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                                <summary> Logical XOR between Origin subsetters. </summary>
                                <description> The output is the logical XOR of the outputs of all
                                        included Origin subsetters. </description>
                                <example>
                                        <originXOR>
                                                <catalog>
                                                  <value>FINGER</value>
                                                </catalog>
                                                <contributor>
                                                  <value>NEIC</value>
                                                </contributor>
                                        </originXOR>
                                </example>
                        </xsd:documentation>
                </xsd:annotation>
                <element name="originXOR">
                        <ref name="origin"/>
                        <ref name="origin"/>
                </element>
        </define>
        <define name="NOT">
                <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                                <summary> Logical NOT of an Origin subsetter. </summary>
                                <description> The output is the logical XOR of the outputs of all
                                        included Origin subsetters. </description>
                                <example>
                                        <originNOT>
                                                <catalog>
                                                  <value>FINGER</value>
                                                </catalog>
                                        </originNOT>
                                </example>
                        </xsd:documentation>
                </xsd:annotation>
                <element name="originNOT">
                        <ref name="origin"/>
                </element>
        </define>
        <define name="originPointDistance">
                <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                                <summary> Distance range from a fixed point. </summary>
                                <description> True if the origin is within the
                                given distance of the given lat and lon. </description>
                                <example>
                                        <originPointDistance>
                                                <unit>DEGREE</unit>
                                                <min>30</min>
                                                <max>90</max>
                                                <latitude>35</latitude>
                                                <longitude>-85</longitude>
                                        </originPointDistance>
                                </example>
                        </xsd:documentation>
                </xsd:annotation>
                <element name="originPointDistance">
                    <element name="latitude">
                        <data type="double"/>
                    </element>
                    <element name="longitude">
                        <data type="double"/>
                    </element>
                    <ref name="range"/>
                </element>
        </define>
        <define name="NULL">
                <xsd:annotation>
                        <xsd:documentation xml:lang="en">
                                <summary> Always returns true. </summary>
                                <description> Simple subsetter that always returns true, useful for
                                        testing. </description>
                                <example>
                                        <nullOriginSubsetter/>
                                </example>
                        </xsd:documentation>
                </xsd:annotation>
                <element name="nullOriginSubsetter">
                        <zeroOrMore>
                                <ref name="origin"/>
                        </zeroOrMore>
                </element>
        </define>
</grammar>
