src/edu/sc/seis/sod/data/grouper.rng

<?xml version="1.0"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="rules">
            <zeroOrMore>
                <element name="rule">
                    <optional>
                        <ref name="network"/>
                    </optional>
                    <optional>
                        <ref name="station"/>
                    </optional>
                    <optional>
                        <ref name="site"/>
                    </optional>
                    <optional>
                        <ref name="channel"/>
                    </optional>
                    <zeroOrMore>
                        <element name="threeCharacterRule">
                            <data type="string">
                                <param name="length">3</param>
                            </data>
                        </element>
                    </zeroOrMore>
                </element>
            </zeroOrMore>
        </element>
    </start>
    <define name="singleLetterOrNumber">
        <data type="string">
            <param name="pattern">[A-Z0-9]{1}</param>
        </data>
    </define>
    <define name="lon">
        <element name="longitude">
            <data type="float"/>
        </element>
    </define>
    <define name="station">
        <choice>
            <element name="stationCode">
                <data type="string"/>
            </element>
            <element name="stationName">
                <data type="string"/>
            </element>
            <element name="stationOperator">
                <data type="string"/>
            </element>
            <element name="stationDepthRange">
                <ref name="range"/>
            </element>
            <element name="stationEffectiveTimeOverlap">
                <element name="startTime">
                    <ref name="time3"/>
                </element>
                <element name="endTime">
                    <ref name="time3"/>
                </element>
            </element>
            <element name="stationArea">
                <choice>
                    <element name="boxArea">
                        <element name="latitudeRange">
                            <optional>
                                <element name="min">
                                    <data type="double"/>
                                </element>
                            </optional>
                            <optional>
                                <element name="max">
                                    <data type="double"/>
                                </element>
                            </optional>
                        </element>
                        <element name="longitudeRange">
                            <optional>
                                <element name="min">
                                    <data type="double"/>
                                </element>
                            </optional>
                            <optional>
                                <element name="max">
                                    <data type="double"/>
                                </element>
                            </optional>
                        </element>
                    </element>
                    <element name="globalArea">
                        <empty/>
                    </element>
                </choice>
            </element>
            <element name="stationPointDistance">
                <ref name="range"/>
                <ref name="lat"/>
                <ref name="lon"/>
            </element>
            <element name="stationPointAzimuth">
                <ref name="range"/>
                <ref name="lat"/>
                <ref name="lon"/>
            </element>
            <element name="stationPointBackAzimuth">
                <ref name="range"/>
                <ref name="lat"/>
                <ref name="lon"/>
            </element>
            <element name="stationAND">
                <oneOrMore>
                    <ref name="station"/>
                </oneOrMore>
            </element>
            <element name="stationOR">
                <oneOrMore>
                    <ref name="station"/>
                </oneOrMore>
            </element>
            <element name="stationNOT">
                <ref name="station"/>
            </element>
            <element name="passStation">
                <zeroOrMore>
                    <ref name="station"/>
                </zeroOrMore>
            </element>
            <element name="externalStationSubsetter">
                <element name="classname">
                    <data type="string"/>
                </element>
                <oneOrMore>
                    <choice>
                        <text/>
                        <ref name="xml3"/>
                    </choice>
                </oneOrMore>
            </element>
        </choice>
    </define>
    <define name="range">
        <element name="unit">
            <choice>
                <value>KILOMETER</value>
                <value>METER</value>
                <value>CENTIMETER</value>
                <value>NANOMETER</value>
                <value>MICROMETER</value>
                <value>MICRON</value>
                <value>MILLIMETER</value>
                <value>PICOMETER</value>
                <value>INCH</value>
                <value>FOOT</value>
                <value>MILE</value>
                <value>DEGREE</value>
                <value>RADIAN</value>
            </choice>
        </element>
        <optional>
            <element name="min">
                <data type="double"/>
            </element>
        </optional>
        <optional>
            <element name="max">
                <data type="double"/>
            </element>
        </optional>
    </define>
    <define name="xml2">
        <element>
            <anyName/>
            <oneOrMore>
                <choice>
                    <attribute>
                        <anyName/>
                    </attribute>
                    <text/>
                    <ref name="xml2"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="xml3">
        <element>
            <anyName/>
            <oneOrMore>
                <choice>
                    <attribute>
                        <anyName/>
                    </attribute>
                    <text/>
                    <ref name="xml3"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="xml4">
        <element>
            <anyName/>
            <oneOrMore>
                <choice>
                    <attribute>
                        <anyName/>
                    </attribute>
                    <text/>
                    <ref name="xml4"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="xml">
        <element>
            <anyName/>
            <oneOrMore>
                <choice>
                    <attribute>
                        <anyName/>
                    </attribute>
                    <text/>
                    <ref name="xml"/>
                </choice>
            </oneOrMore>
        </element>
    </define>
    <define name="site">
        <choice>
            <element name="siteCode">
                <data type="string"/>
            </element>
            <element name="siteDepthRange">
                <element name="unit">
                    <choice>
                        <value>KILOMETER</value>
                        <value>METER</value>
                        <value>CENTIMETER</value>
                        <value>NANOMETER</value>
                        <value>MICROMETER</value>
                        <value>MICRON</value>
                        <value>MILLIMETER</value>
                        <value>PICOMETER</value>
                        <value>INCH</value>
                        <value>FOOT</value>
                        <value>MILE</value>
                        <value>DEGREE</value>
                        <value>RADIAN</value>
                    </choice>
                </element>
                <optional>
                    <element name="min">
                        <data type="double"/>
                    </element>
                </optional>
                <optional>
                    <element name="max">
                        <data type="double"/>
                    </element>
                </optional>
            </element>
            <element name="siteEffectiveTimeOverlap">
                <element name="startTime">
                    <ref name="time4"/>
                </element>
                <element name="endTime">
                    <ref name="time4"/>
                </element>
            </element>
            <element name="siteArea">
                <choice>
                    <element name="boxArea">
                        <element name="latitudeRange">
                            <optional>
                                <element name="min">
                                    <data type="double"/>
                                </element>
                            </optional>
                            <optional>
                                <element name="max">
                                    <data type="double"/>
                                </element>
                            </optional>
                        </element>
                        <element name="longitudeRange">
                            <optional>
                                <element name="min">
                                    <data type="double"/>
                                </element>
                            </optional>
                            <optional>
                                <element name="max">
                                    <data type="double"/>
                                </element>
                            </optional>
                        </element>
                    </element>
                    <element name="globalArea">
                        <empty/>
                    </element>
                </choice>
            </element>
            <element name="siteAND">
                <oneOrMore>
                    <ref name="site"/>
                </oneOrMore>
            </element>
            <element name="siteOR">
                <oneOrMore>
                    <ref name="site"/>
                </oneOrMore>
            </element>
            <element name="siteNOT">
                <ref name="site"/>
            </element>
            <element name="passSite">
                <zeroOrMore>
                    <ref name="site"/>
                </zeroOrMore>
            </element>
            <element name="externalSiteSubsetter">
                <element name="classname">
                    <data type="string"/>
                </element>
                <oneOrMore>
                    <choice>
                        <text/>
                        <ref name="xml4"/>
                    </choice>
                </oneOrMore>
            </element>
        </choice>
    </define>
    <define name="time2">
        <choice>
            <data type="string"/>
            <element name="earlier">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="later">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="now">
                <empty/>
            </element>
        </choice>
    </define>
    <define name="time">
        <choice>
            <data type="string"/>
            <element name="earlier">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="later">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="now">
                <empty/>
            </element>
            <interleave>
                <element name="unit">
                    <choice>
                        <value>HOUR</value>
                        <value>NANOSECOND</value>
                        <value>MICROSECOND</value>
                        <value>MILLISECOND</value>
                        <value>SECOND</value>
                        <value>MINUTE</value>
                        <value>DAY</value>
                        <value>WEEK</value>
                        <value>FORTNIGHT</value>
                    </choice>
                </element>
                <element name="value">
                    <data type="float"/>
                </element>
            </interleave>
        </choice>
    </define>
    <define name="time3">
        <choice>
            <data type="string"/>
            <element name="earlier">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="later">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="now">
                <empty/>
            </element>
        </choice>
    </define>
    <define name="time4">
        <choice>
            <data type="string"/>
            <element name="earlier">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="later">
                <element name="timeInterval">
                    <interleave>
                        <element name="unit">
                            <choice>
                                <value>HOUR</value>
                                <value>NANOSECOND</value>
                                <value>MICROSECOND</value>
                                <value>MILLISECOND</value>
                                <value>SECOND</value>
                                <value>MINUTE</value>
                                <value>DAY</value>
                                <value>WEEK</value>
                                <value>FORTNIGHT</value>
                            </choice>
                        </element>
                        <element name="value">
                            <data type="float"/>
                        </element>
                    </interleave>
                </element>
            </element>
            <element name="now">
                <empty/>
            </element>
        </choice>
    </define>
    <define name="channel">
        <choice>
            <element name="channelCode">
                <data type="string">
                    <param name="pattern">[A-Z0-9]{3}</param>
                </data>
            </element>
            <element name="bandCode">
                <ref name="singleLetterOrNumber"/>
            </element>
            <element name="gainCode">
                <ref name="singleLetterOrNumber"/>
            </element>
            <element name="orientationCode">
                <ref name="singleLetterOrNumber"/>
            </element>
            <element name="sampling">
                <optional>
                    <element name="min">
                        <data type="integer"/>
                    </element>
                </optional>
                <optional>
                    <element name="max">
                        <data type="integer"/>
                    </element>
                </optional>
                <element name="interval">
                    <ref name="time"/>
                </element>
            </element>
            <element name="channelEffectiveTimeOverlap">
                <element name="startTime">
                    <ref name="time"/>
                </element>
                <element name="endTime">
                    <ref name="time"/>
                </element>
            </element>
            <element name="orientationRange">
                <element name="azimuth">
                    <data type="float"/>
                </element>
                <element name="dip">
                    <data type="float"/>
                </element>
                <element name="maxOffset">
                    <data type="float"/>
                </element>
            </element>
            <element name="orientationAzimuthRange">
                <element name="min">
                    <data type="float"/>
                </element>
                <element name="max">
                    <data type="float"/>
                </element>
            </element>
            <element name="orientationDipRange">
                <element name="min">
                    <data type="float"/>
                </element>
                <element name="max">
                    <data type="float"/>
                </element>
            </element>
            <element name="channelAND">
                <oneOrMore>
                    <ref name="channel"/>
                </oneOrMore>
            </element>
            <element name="channelOR">
                <oneOrMore>
                    <ref name="channel"/>
                </oneOrMore>
            </element>
            <element name="channelNOT">
                <ref name="channel"/>
            </element>
            <element name="passChannel">
                <zeroOrMore>
                    <ref name="channel"/>
                </zeroOrMore>
            </element>
            <element name="externalChannelSubsetter">
                <element name="classname">
                    <data type="string"/>
                </element>
                <oneOrMore>
                    <choice>
                        <text/>
                        <ref name="xml"/>
                    </choice>
                </oneOrMore>
            </element>
        </choice>
    </define>
    <define name="lat">
        <element name="latitude">
            <data type="float"/>
        </element>
    </define>
    <define name="network">
        <choice>
            <element name="networkCode">
                <data type="string"/>
            </element>
            <element name="networkName">
                <data type="string"/>
            </element>
            <element name="networkOwner">
                <data type="string"/>
            </element>
            <element name="networkEffectiveTimeOverlap">
                <element name="startTime">
                    <ref name="time2"/>
                </element>
                <element name="endTime">
                    <ref name="time2"/>
                </element>
            </element>
            <element name="networkAND">
                <oneOrMore>
                    <ref name="network"/>
                </oneOrMore>
            </element>
            <element name="networkOR">
                <oneOrMore>
                    <ref name="network"/>
                </oneOrMore>
            </element>
            <element name="networkNOT">
                <ref name="network"/>
            </element>
            <element name="passNetwork">
                <zeroOrMore>
                    <ref name="network"/>
                </zeroOrMore>
            </element>
            <element name="externalNetworkSubsetter">
                <element name="classname">
                    <data type="string"/>
                </element>
                <oneOrMore>
                    <choice>
                        <text/>
                        <ref name="xml2"/>
                    </choice>
                </oneOrMore>
            </element>
        </choice>
    </define>
</grammar>
