src/main/relax/waveform/seismogramSource.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xsd="http://http://www.w3.org/2001/XMLSchema">
    <start>
        <ref name="seismogramSource"/>
    </start>
    <define name="seismogramSource">
        <choice>
            <xsd:annotation>
                <summary>Specifies the server to ask for seismograms.</summary>
                <description> The default is the IRIS FDSN DataSelect web service.</description>
                <velocity>#waveformArmPage()</velocity>
            </xsd:annotation>
            <ref name="fdsnDataSelect"/>
            <ref name="choiceSource"/>
            <ref name="tryInOrder"/>
            <ref name="winstonWaveServer"/>
        </choice>
    </define>
    <define name="choiceSource">
        <element name="choiceSource">
            <xsd:annotation>
                <summary>Allows a choice between seismogram sources based on an eventChannelSubsetter</summary>
                <description> This type of seismogram source allows for a choice to be made between several
                    seismogram sources based on characteristics of an event and channel. It goes through
                    each of the choices in order, and if the subsetter inside of a choice matches,
                    it uses it. If no choice matches, the seismogram source in the otherwise is used. The
                    example gets data from the POND from half a year ago up until 8 weeks ago. For
                    anything more recent, it gets data from the BUD. Other uses for this are to
                    switch seismogram sources based on the preferred seismogram sources for a station, or to use
                    the POND  (IRIS_PondDataCenter) to retrieve data if an event meets the POND criteria but use the
                    IRIS mass store (IRIS_DataCenter) otherwise.</description>
                <example>
                    <choiceSource>
                        <choice>
                            <originTimeRange>
                                <startTime>
                                    <earlier>
                                        <timeInterval>
                                          <value>26</value>
                                          <unit>WEEK</unit>
                                        </timeInterval>
                                    </earlier>
                                </startTime>
                                <endTime>
                                    <earlier>
                                        <timeInterval>
                                          <value>8</value>
                                          <unit>WEEK</unit>
                                        </timeInterval>
                                    </earlier>
                                </endTime>
                            </originTimeRange>
                            <fdsnDataSelect>
                                <name>Local Caching server</name>
                                <host>myserver.myuniversity.edu</host>
                            </fdsnDataSelect>
                        </choice>
                        <otherwise>
                            <fdsnDataSelect>
                                <name>IRIS Server</name>
                            </fdsnDataSelect>
                        </otherwise>
                    </choiceSource>
                </example>
            </xsd:annotation>
            <oneOrMore>
                <element name="choice">
                    <ref name="eventChannelPlus"/>
                    <ref name="seismogramSource"/>
                </element>
            </oneOrMore>
            <element name="otherwise">
                <ref name="seismogramSource"/>
            </element>
        </element>
    </define>
    <define name="tryInOrder">
        <element name="tryInOrder">
            <xsd:annotation>
                <summary>Allows multiple seismogram sourcess with the first one with data being used</summary>
                <description> This type of seismogram source allows several
                    seismogram sources with the first one that has data for a given even-channel being used. It goes through
                    each of the choices in the order given, and uses the first one that gives any available data.
                    If no choice has data, then the result of the last datacenter is used (albeit the empty result). The
                    example tries to get data from the BUD first and then POND if it isn't in the BUD.</description>
                <example>
                    <tryInOrder>
                            <fdsnDataSelect>
                                <name>Local Caching server</name>
                                <host>myserver.myuniversity.edu</host>
                            </fdsnDataSelect>
                            <fdsnDataSelect>
                                <name>IRIS server</name>
                            </fdsnDataSelect>
                    </tryInOrder>
                </example>
            </xsd:annotation>
            <oneOrMore>
                <ref name="seismogramSource"/>
            </oneOrMore>
        </element>
    </define>
    <define name="winstonWaveServer">
        <element name="winstonWaveServer">
            <xsd:annotation>
                <summary>Pick a Winston/Earthworm Wave Server</summary>
                <description>This specifies a Winston or Earthworm Wave Server.
                    </description>
            </xsd:annotation>
            <element name="host">
                <data type="string"/>
            </element>
            <optional>
                <element name="port">
                    <data type="integer"/>
                </element>
            </optional>
        </element>
    </define>
    <define name="fdsnDataSelect">
        <element name="fdsnDataSelect">
            <xsd:annotation>
                <summary>Pick a FDSN dataselect web service</summary>
                <description>This specifies a FDSN dataselect web service. The default is the IRIS DMC. This can
                do a data availability via a corresponding FDSN Station web service, 
                but because of the coarseness of the result, it is not as useful as
                was in the older DHI servers, so the default is off, meaning SOD pretends 
                the available data is always the same as the requested data.
                The host parameter should be used to connect to another service. The baseurl, fdsnwsPath and
                port parameters should only be used to connect to a service that does not follow the
                FDSN specification on how the URL should be formed.
                
                For IRIS DMC usage, see http://ds.iris.edu/ds/nodes/dmc/services/usage/ for information
                on resource limits. In particular for versions of SOD prior to 3.2.5 you should not
                have more than 3 waveform worker threads or the rate limiter at the DMC may block
                your requests, resulting in very slow performance. For later versions of SOD requests are
                batched so more worker threads can be used. However, diminishing returns sets in very 
                quickly, and many threads may end up being slower than a few.
                    </description>
            </xsd:annotation>
            <interleave>
                <optional>
                    <element name="fdsnStationAvailability">
                        <data type="boolean"/>
                    </element>
                </optional>
                <optional>
                    <element name="dobulk">
                        <data type="boolean"/>
                    </element>
                </optional>
                <optional>
                    <element name="user">
                        <data type="string"/>
                    </element>
                </optional>
                <optional>
                    <element name="password">
                        <data type="string"/>
                    </element>
                </optional>
                <optional>
                    <element name="realm">
                        <data type="string"/>
                    </element>
                </optional>
                <choice>
                    <optional>
                        <element name="baseurl">
                            <xsd:annotation>
                              <summary>A FDSN DataSelect web service URL</summary>
                              <description>A url to a FDSN DataSelect web service.</description>
                            </xsd:annotation>
                            <data type="string"/>
                        </element>
                    </optional>
                    <interleave>
                        <optional>
                            <element name="scheme">
                                <data type="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="host">
                                <data type="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="port">
                                <data type="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="fdsnwsPath">
                                <xsd:annotation>
                                    <summary>Initial path part of an FDSN DataSelect web service URL</summary>
                                    <description>The default is fdsnws. Should only be used in
                                    the case of a service that doe not follow the FDSN specification.</description>
                                </xsd:annotation>
                                <data type="string"/>
                            </element>
                        </optional>
                    </interleave>
                </choice>
            </interleave>
        </element>
    </define>
</grammar>
