relax/waveform/channelGroupSeismogramProcess.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xsd="http://http://www.w3.org/2001/XMLSchema">
    <start>
        <ref name="channelGroupSeismogramProcess"/>
    </start>
    <include href="../base/include/eventLabel.rng"/>
    <define name="channelGroupSeismogramProcess">
        <choice>
            <externalRef href="seismogramProcess.rng"/>
            <ref name="channelGroupForkProcess" />
            <ref name="externalChannelGroupSeismogramProcess" />
        </choice>
    </define>
    <define name="channelGroupForkProcess">
        <element name="channelGroupForkProcess">
            <zeroOrMore>
                <ref name="channelGroupSeismogramProcess"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="externalChannelGroupSeismogramProcess">
        <element name="externalChannelGroupSeismogramProcess">
            <element name="classname">
                <data type="string"/>
            </element>
            <zeroOrMore>
                <externalRef href="../base/externalRef/anyXML.rng"/>
            </zeroOrMore>
        </element>
    </define>
</grammar>
