relax/waveform/requestSubsetter.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xsd="http://http://www.w3.org/2001/XMLSchema">
    <start>
        <ref name="requestSubsetter"/>
    </start>
    <include href="../base/include/eventLabel.rng"/>
    <define name="requestSubsetter">
        <choice>
            <ref name="requestSubsetterAND"/>
            <ref name="requestSubsetterOR"/>
            <ref name="requestSubsetterXOR"/>
            <ref name="requestSubsetterNOT"/>
            <ref name="requestPrint"/>
            <ref name="breqFastRequestSubsetter"/>
        </choice>
    </define>
    <define name="requestSubsetterAND">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical AND between RequestSubsetter subsetters. </summary>
                <description> The output is the logical AND of the outputs of all included
                    subsetters. The subsetters after the first false outputed are not evaluated. </description>
                <example>
                    <requestSubsetterAND>
                        <something/>
                        <somethingelse/>
                    </requestSubsetterAND>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="requestSubsetterAND">
            <oneOrMore>
                <ref name="requestSubsetter"/>
            </oneOrMore>
        </element>
    </define>
    <define name="requestSubsetterOR">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical OR between RequestSubsetter subsetters. </summary>
                <description> The output is the logical OR of the outputs of all included
                    subsetters. The subsetters after the first true outputed are not evaluated. </description>
                <example>
                    <requestSubsetterOR>
                        <something/>
                        <somethingelse/>
                    </requestSubsetterOR>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="requestSubsetterOR">
            <oneOrMore>
                <ref name="requestSubsetter"/>
            </oneOrMore>
        </element>
    </define>
    <define name="requestSubsetterXOR">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical XOR between RequestSubsetter subsetters. </summary>
                <description> The output is the logical XOR of the outputs of all included
                    subsetters. </description>
                <example>
                    <requestSubsetterXOR>
                        <something/>
                        <somethingelse/>
                    </requestSubsetterXOR>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="requestSubsetterXOR">
            <ref name="requestSubsetter"/>
            <ref name="requestSubsetter"/>
        </element>
    </define>
    <define name="requestSubsetterNOT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical NOT of an RequestSubsetter subsetter. </summary>
                <description> The output is the logical NOT of the output of the included
                    subsetters. </description>
                <example>
                    <requestSubsetterNOT>
                        <something/>
                    </requestSubsetterNOT>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="requestSubsetterNOT">
            <ref name="requestSubsetter"/>
        </element>
    </define>
    <define name="requestPrint">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Prints the Request and returns true. </summary>
                <description> Mainly useful for debugging, prints out the request. </description>
                <example>
                    <requestPrint/>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="requestPrint">
            <empty/>
        </element>
    </define>
    <define name="breqFastRequestSubsetter">
        <element name="breqFastRequestSubsetter">
            <element name="dataDirectory">
                <data type="string"/>
            </element>
            <optional>
                <element name="label">
                    <ref name="eventLabel"/>
                </element>
            </optional>
            <element name="name">
                <data type="string"/>
            </element>
            <element name="inst">
                <data type="string"/>
            </element>
            <element name="mail">
                <data type="string"/>
            </element>
            <element name="email">
                <data type="string"/>
            </element>
            <element name="phone">
                <data type="string"/>
            </element>
            <element name="fax">
                <data type="string"/>
            </element>
            <element name="media">
                <data type="string"/>
            </element>
            <element name="altmedia1">
                <data type="string"/>
            </element>
            <element name="altmedia2">
                <data type="string"/>
            </element>
            <element name="quality">
                <data type="string"/>
            </element>
        </element>
    </define>
</grammar>
