relax/waveform/seismogramProcess.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xsd="http://http://www.w3.org/2001/XMLSchema">
    <start>
        <ref name="seismogramProcess"/>
    </start>
    <include href="../base/include/eventLabel.rng"/>
    <include href="phaseRequest.rng"/>
    <define name="seismogramProcess">
        <choice>
            <ref name="printlineSeismogramProcess"/>
            <ref name="saveSeismogramToFile"/>
            <ref name="responseGain"/>
            <ref name="phaseCut"/>
            <ref name="rMean"/>
            <ref name="rTrend"/>
            <ref name="taper"/>
            <ref name="externalSeismogramProcess"/>
            <ref name="localSeismogramStatus"/>
            <ref name="filter"/>
            <ref name="forkProcess"/>
            <ref name="alwaysSuccess"/>
            <ref name="phaseSignalToNoise" />
            <ref name="seismogramImageProcess" />
            <ref name="legacyExecute" />
            <ref name="seismogramAND"/>
            <ref name="seismogramOR"/>
            <ref name="seismogramXOR"/>
            <ref name="seismogramNOT"/>
            <ref name="waveformCountProcessor"/>
        </choice>
    </define>
    <define name="seismogramAND">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical AND between seismogram subsetters. </summary>
                <description> The output is the logical AND of the outputs of all included
                    subsetters. The subsetters after the first false outputed are not evaluated.
                    The seismic data passed down the chain is the data passed in,
                    seismogram results of the contained processors are ignored.</description>
                <example>
                    <seismogramAND>
                        <xyz/>
                        <pdq/>
                    </seismogramAND>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="seismogramAND">
            <oneOrMore>
                <ref name="seismogramProcess"/>
            </oneOrMore>
        </element>
    </define>
    <define name="seismogramOR">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical OR between seismogramSubsetter subsetters. </summary>
                <description> The output is the logical OR of the outputs of all included
                    subsetters. The subsetters after the first true outputed are not evaluated.
                    The seismic data passed down the chain is the data passed in,
                    seismogram results of the contained processors are ignored. </description>
                <example>
                    <seismogramOR>
                        <xyz/>
                        <pdq/>
                    </seismogramOR>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="seismogramOR">
            <oneOrMore>
                <ref name="seismogramProcess"/>
            </oneOrMore>
        </element>
    </define>
    <define name="seismogramXOR">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical XOR between seismogramSubsetter subsetters. </summary>
                <description> The output is the logical XOR of the outputs of all included
                    subsetters. The seismic data passed down the chain is the data passed in,
                    seismogram results of the contained processors are ignored. </description>
                <example>
                    <seismogramXOR>
                        <xyz/>
                        <pdq/>
                    </seismogramXOR>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="seismogramXOR">
            <ref name="seismogramProcess"/>
            <ref name="seismogramProcess"/>
        </element>
    </define>
    <define name="seismogramNOT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical NOT of an seismogramSubsetter subsetter. </summary>
                <description> The output is the logical NOT of the output of the included
                    subsetters. The seismic data passed down the chain is the data passed in,
                    seismogram results of the contained processors are ignored.</description>
                <example>
                    <seismogramNOT>
                        <xyz/>
                    </seismogramNOT>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="seismogramNOT">
            <ref name="seismogramProcess"/>
        </element>
    </define>

    <define name="phaseCut">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Cuts seismograms relative to predicted phase arrival times. </summary>
                <description> Cuts seismogras relative to offsets from phase arrival time predicted
                    by TauP for the model. </description>
                <example>
                    <phaseCut>
                        <model>prem</model>
                        <beginPhase>P</beginPhase>
                        <beginOffset>
                            <unit>SECOND</unit>
                            <value>-100</value>
                        </beginOffset>
                        <endPhase>P</endPhase>
                        <endOffset>
                            <unit>SECOND</unit>
                            <value>-100</value>
                        </endOffset>
                    </phaseCut>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="phaseCut">
            <ref name="phaseRequest"/>
        </element>
    </define>
    <define name="filter">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary>Filter</summary>
                <description>Applies a butterworth filter to the seismograms. </description>
                <example>
                <filter>
                   <lowFreqCorner><value>50</value><unit>SECOND</unit></lowFreqCorner>
                   <highFreqCorner><value>5</value><unit>HERTZ</unit></highFreqCorner>
                   <numPoles>2</numPoles>
                   <filterType>NONCAUSAL</filterType>
                </filter>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="filter">
            <element name="lowFreqCorner">
               <element name="value">
                   <data type="float"/>
               </element>
               <ref name="unit"/>
            </element>
            <element name="highFreqCorner">
               <element name="value">
                   <data type="float"/>
               </element>
               <ref name="unit"/>
            </element>
            <element name="numPoles">
                <data type="int"/>
            </element>
            <element name="filterType">
                <data type="string"/>
            </element>
        </element>
    </define>
    <define name="rMean">
        <element name="rMean">
            <empty/>
        </element>
    </define>
    <define name="rTrend">
        <element name="rTrend">
            <empty/>
        </element>
    </define>
    <define name="taper">
        <element name="taper">
            <optional>
                <element name="width">
                    <data type="float"/>
                </element>
            </optional>
        </element>
    </define>
    <define name="responseGain">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary>Response Gain Correction</summary>
                <description>Applies a overall sensitivity from the response to the seismograms.
                    This will convert int or short seismograms into floats to avoid rounding
                    errors that could result in the output seismograms being all zeros. There
                    is no configuration.</description>
                <example>
                    <responseGain/>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="responseGain">
            <empty/>
        </element>
    </define>
    <define name="saveSeismogramToFile">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary>Saves seismograms in files. </summary>
                <description>The seismograms are written to data files in the
                given direcctory. Always returns true unless there is an error.
                </description>
                <example>
                    <saveSeismogramToFile>
                        <fileType>sac</fileType>
                        <dataDirectory>POND_II</dataDirectory>
                        <eventDirLabel>
                            Event_<originTime>yyyy_DDD_HH_mm_ss</originTime>
                        </eventDirLabel>
                    </saveSeismogramToFile>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="saveSeismogramToFile">
            <element name="fileType">
                <data type="string"/>
            </element>
            <optional>
                <element name="prefix">
                    <data type="string"/>
                </element>
            </optional>
            <element name="dataDirectory">
                <data type="string"/>
            </element>
            <element name="eventDirLabel">
                <ref name="eventLabel"/>
            </element>
        </element>
    </define>
    <define name="externalSeismogramProcess">
        <element name="externalSeismogramProcess">
            <element name="classname">
                <data type="string"/>
            </element>
            <zeroOrMore>
                <externalRef href="../base/externalRef/anyXML.rng"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="printlineSeismogramProcess">
        <element name="printlineSeismogramProcess">
            <empty/>
        </element>
    </define>
    <define name="localSeismogramStatus">
        <element name="localSeismogramTemplateGenerator">
            <optional>
                <element name="fileDir">
                    <data type="string"/>
                </element>
            </optional>
            <element name="seismogramConfig">
                <attribute name="href" ns="http://www.w3.org/1999/xlink/"/>
            </element>
        </element>
    </define>
    <define name="forkProcess">
        <element name="forkProcess">
            <zeroOrMore>
                <ref name="seismogramProcess"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="alwaysSuccess">
        <element name="alwaysSuccess">
            <ref name="seismogramProcess"/>
        </element>
    </define>
    <define name="phaseSignalToNoise">
        <element name="phaseSignalToNoise">
            <optional>
                <element name="modelName">
                    <data type="string"/>
                </element>
            </optional>
            <element name="phaseName">
                <data type="string"/>
            </element>
            <element name="shortOffsetBegin">
                <ref name="time"/>
            </element>
            <element name="shortOffsetEnd">
                <ref name="time"/>
            </element>
            <element name="longOffsetBegin">
                <ref name="time"/>
            </element>
            <element name="longOffsetEnd">
                <ref name="time"/>
            </element>
            <element name="ratio">
                <data type="float"/>
            </element>
        </element>
    </define>
    <define name="seismogramImageProcess">
        <element name="seismogramImageProcess">
            <optional>
                <element name="fileDir">
                    <data type="string"/>
                </element>
            </optional>
            <element name="seismogramConfig">
                <attribute name="href" ns="http://www.w3.org/1999/xlink/"/>
            </element>
            <optional>
                <element name="prefix">
                    <data type="string"/>
                </element>
            </optional>
            <optional>
                <element name="fileType">
                    <data type="string"/>
                </element>
            </optional>
        </element>
    </define>
    <define name="legacyExecute">
        <element name="legacyExecute">
            <optional>
                <element name="prefix">
                    <data type="string"/>
                </element>
            </optional>
            <element name="command">
                <data type="string"/>
            </element>
            <optional>
                <element name="dataDirectory">
                    <data type="string"/>
                </element>
            </optional>
        </element>
        </define>
    <define name="waveformCountProcessor">
        <element name="waveformCountProcessor">
            <empty/>
        </element>
    </define>
</grammar>
