xml/EventArm.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Schema for the EventArm of SOD
		</xsd:documentation>
	</xsd:annotation>

	<!-- Include the external schemas necessary for this schema -->
	<xsd:include schemaLocation="./utilities.xsd"/>


	<!-- This is the base abstract Type -->
	<xsd:complexType name="eventAttrSubsetterType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="subsetterType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- origin abstract type -->
	<xsd:complexType name="originType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="subsetterType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- event source abstract type -->
	<xsd:complexType name="eventSourceType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="sourceType"/>
		</xsd:complexContent>
	</xsd:complexType>


	<!-- This type is used for eventAttrANDType minOccurs="0" maxOccurs="unbounded"  -->
	<xsd:complexType name="eventAttrANDType">
		<xsd:complexContent>
			<xsd:extension base="eventAttrSubsetterType">
			 <xsd:sequence>
			   <xsd:element ref="eventAttr" minOccurs="0" maxOccurs="unbounded">
			   </xsd:element>
			 </xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	 <!-- This type is used for eventAttrORType minOccurs="0" maxOccurs="unbounded"  -->
	<xsd:complexType name="eventAttrORType">
		<xsd:complexContent>
			<xsd:extension base="eventAttrSubsetterType">
				<xsd:sequence>
					<xsd:element ref="eventAttr" minOccurs="0"
					maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	 <!-- This type is used for eventAttrXORType minOccurs="2" maxOccurs="2"  -->
	<xsd:complexType name="eventAttrXORType">
		<xsd:complexContent>
			<xsd:extension base="eventAttrSubsetterType">
				<xsd:sequence>
					<xsd:element ref="eventAttr" minOccurs="2" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

 <!-- This type is used for eventAttrNOTType minOccurs="1" maxOccurs="1"  -->
	<xsd:complexType name="eventAttrNOTType">
		<xsd:complexContent>
			<xsd:extension base="eventAttrSubsetterType">
				<xsd:sequence>
					<xsd:element ref="eventAttr" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	

<!-- The EventAttrName Tag it containts string for now  might be changed latter -->
	<xsd:complexType name="eventAttrNameType">
		<xsd:complexContent>
			<xsd:extension base="eventAttrSubsetterType">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

<!-- The geographicRegionType contains a list of numbers for now, might be changed latter -->
	<xsd:complexType name="geographicRegionType">
		<xsd:complexContent>
			<xsd:extension base="eventAttrSubsetterType">
				<xsd:sequence>
					<xsd:element name="value" type="flinnengdahlNumbers"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

 <!-- The seismicRegionType contains a list of numbers for now, might be changed latter -->
	<xsd:complexType name="seismicRegionType">
		<xsd:complexContent>
			<xsd:extension base="eventAttrSubsetterType">
				<xsd:sequence>
					<xsd:element name="value" type="flinnengdahlNumbers"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

<!-- flinnengdahlList is a list of PositiveIntegers. Actually itz best to change at this position so that it can include
either a list of numbers only or a list of strings or a list with the combination of strings and numbers-->
	<xsd:simpleType name="flinnengdahlList">
		<xsd:list itemType="xsd:positiveInteger">
		</xsd:list>
	</xsd:simpleType>

<!-- This is derived from flinnengdahlList, the purpose is  to restrict in such a way that the following is not allowed
in the instance document
<seismicRegion><value></value></seismicRegion>
-->
	<xsd:simpleType name="flinnengdahlNumbers">
		<xsd:restriction base="flinnengdahlList">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- element representing the seismicRegion and the substitutionGroup is eventAttr which is an abstract
	element-->
	<xsd:element name="seismicRegion" type="seismicRegionType" substitutionGroup="eventAttr"/>


	<!-- TIME  RANGE TYPE -->
	<xsd:complexType name="eventTimeRangeType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element ref="timeRange"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- MAGNITUDE TYPE  TYPE -->
	<xsd:simpleType name="magnitudetypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mb"/>
			<xsd:enumeration value="ms"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- MAGNITUDE TYPE -->
	<xsd:complexType name="magnitudeType">
		<xsd:complexContent>	
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element name="type" type="magnitudetypeType"/>
					<xsd:element name="min" type="xsd:float"  minOccurs="0" maxOccurs="1"/>
					<xsd:element name="max" type="xsd:float"  minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- DEPTH TYPE -->
	<xsd:complexType name="depthRangeType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element name="unitRange" type="unitRangeType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	
	<!-- LOCATION TYPE TYPE -->
	<xsd:simpleType name="locationtypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GEOGRAPHIC"/>
			<xsd:enumeration value="GEOCENTRIC"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- LOCATION TYPE -->
	<xsd:complexType name="locationType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element name="latitude" type="xsd:float"/>
					<xsd:element name="longitude" type="xsd:float"/>
					<xsd:element name="elevation" type="lengthType"/>
					<xsd:element name="depth" type="lengthType"/>
					<xsd:element name="locationType" type="locationtypeType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<!-- ORIGIN AND TYPE -->
	<xsd:complexType name="originANDType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element ref="origin"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<!-- ORIGIN OR TYPE -->
	<xsd:complexType name="originORType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element ref="origin" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ORIGIN XOR TYPE -->
	<xsd:complexType name="originXORType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element ref="origin" minOccurs="2" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ORIGIN NOT TYPE -->
	<xsd:complexType name="originNOTType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element ref="origin" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<!-- EVENT FINDER TYPE -->
	<xsd:complexType name="eventFinderType">
		<xsd:complexContent>
			<xsd:extension base="eventSourceType">
				<xsd:sequence>
					<xsd:element ref="area"  minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="depthRange"  minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="eventTimeRange"  minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="magnitude"  minOccurs="0" maxOccurs="1"/>
					<xsd:element name="catalog" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
					<xsd:element name="contributor" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- EVENT CHANNEL FINDER TYPE -->
	<xsd:complexType name="eventChannelFinderType">
		<xsd:complexContent>
			<xsd:extension base="eventSourceType">
				<xsd:sequence>
					<xsd:element name="eventname" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<!-- EVENT PROCESS TYPE -->
	<xsd:complexType name="externalEventProcessType">
		<xsd:complexContent>
			<xsd:extension base="externalProcessType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

  <!-- element representing the geographicalRegion and the substitutionGroup is eventAttr which is an abstract element -->
	<xsd:element name="geographicalRegion" type="geographicRegionType" substitutionGroup="eventAttr"/>

  <!-- element representing the eventAttrAND and the substitutionGroup is eventAttr which is an abstract element -->
	<xsd:element name="eventAttrAND" type="eventAttrANDType" substitutionGroup="eventAttr"/>

  <!-- element representing the eventAttrOR and the substitutionGroup is eventAttr which is an abstract element -->
	<xsd:element name="eventAttrOR" type="eventAttrORType" substitutionGroup="eventAttr"/>

  <!-- element representing the eventAttrXOR and the substitutionGroup is eventAttr which is an abstract element -->
	<xsd:element name="eventAttrXOR" type="eventAttrXORType" substitutionGroup="eventAttr"/>

  <!-- element representing the eventAttrNOT and the substitutionGroup is eventAttr which is an abstract element -->
	<xsd:element name="eventAttrNOT" type="eventAttrNOTType" substitutionGroup="eventAttr"/>

  <!-- element  representing the eventAttrName and the substitutionGroup is eventAttr which is an abstract element -->
	<xsd:element name="eventAttrName" type="eventAttrNameType" substitutionGroup="eventAttr"/>

	<!-- This element eventAttr is the base Abstract element -->
	<xsd:element name="eventAttr" type="eventAttrSubsetterType" abstract="true"/>


	<!-- This element origin is the base Abstract element -->
	<xsd:element name="origin" type="originType" abstract="true"/>

	<!-- element representing magnitude -->
	<xsd:element name="magnitude" type="magnitudeType" substitutionGroup="origin"/>

	<!-- element representing depth -->
         <xsd:element name="depthRange" type="depthRangeType" substitutionGroup="origin"/>	

	<!-- EVENT AREA TYPE -->
	<xsd:complexType name="eventAreaType">
		<xsd:complexContent>
			<xsd:extension base="originType">
				<xsd:sequence>
					<xsd:element ref="area"/>
				</xsd:sequence>	
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- element representing eventArea -->
	<xsd:element name="eventArea" type="eventAreaType" substitutionGroup="origin"/>

	<!-- element representing originAND -->
	<xsd:element name="originAND" type="originANDType" substitutionGroup="origin"/>

	<!-- element representing originOR -->
	<xsd:element name="originOR" type="originORType" substitutionGroup="origin"/>

	<!-- element representing originXOR -->
	<xsd:element name="originXOR" type="originXORType" substitutionGroup="origin"/>

	<!-- element representing originNOT -->
	<xsd:element name="originNOT" type="originNOTType" substitutionGroup="origin"/>

	<!-- element representing timeRange -->
	<xsd:element name="eventTimeRange" type="eventTimeRangeType" substitutionGroup="origin"/>

	<!-- The element eventSource is the base abstract element -->
	<xsd:element name="eventSource" type="eventSourceType" abstract="true"/>

	<!-- element representing eventFinder -->
	<xsd:element name="eventFinder" type="eventFinderType" substitutionGroup="eventSource"/>

	<!-- element representing eventChannelFinder -->
	<xsd:element name="eventChannelFinder" type="eventChannelFinderType" substitutionGroup="eventSource"/>

	<!-- element representing the process -->
	<xsd:element name="eventProcess" type="processType" abstract="true"/>
	<xsd:element name="externalEventProcess" type="externalEventProcessType" substitutionGroup="eventProcess"/>

	<xsd:complexType name="eventArmType">	
		<xsd:complexContent>
			<xsd:extension base="armType">
				<xsd:sequence>
					<xsd:element ref="eventSource"/>
					<xsd:element ref="eventAttr" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="origin" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="eventProcess" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- element representing EVENTARM -->    
	<xsd:element name="eventArm" type="eventArmType"/>

</xsd:schema>
