relax/base/include/quantity.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <include href="units.rng"/>
    <start combine="choice">
        <notAllowed/>
    </start>
    <define name="quantity">
        <ref name="unit"/>
        <element name="value">
            <data type="integer"/>
        </element>
    </define>
    <define name="time">
        <ref name="timeUnit"/>
        <element name="value">
            <data type="integer"/>
        </element>
    </define>
    <define name="length">
        <ref name="lengthUnit"/>
        <element name="value">
            <data type="integer"/>
        </element>
    </define>
</grammar>
