src/main/relax/sod.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" 
    xmlns:xsd="http://http://www.w3.org/2001/XMLSchema"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <start>
        <element name="sod">
            <xsd:annotation>
                <summary>The root of all SOD recipes</summary>
                <description>
                    <p>This element is the root of all SOD recipes.</p>
                    <a href="../index.html">Back to Overview</a>
                </description>
            </xsd:annotation>
            <optional>
                <ref name="properties"/>
            </optional>
            <choice>
                <ref name="eventArm"/>
                <ref name="networkArm"/>
                <group>
                    <ref name="eventArm"/>
                    <ref name="networkArm"/>
                </group>
                <group>
                    <ref name="eventArm"/>
                    <ref name="networkArm"/>
                    <ref name="waveformArmChoice"/>
                </group>
            </choice>
        </element>
    </start>

<!-- Common includes -->
    <xi:include href="properties.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/area.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/anyXML.rng" />
    <xi:include href="base/include/catalog.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/contributor.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/eventLabel.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/externalClass.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/latLon.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/magnitudeRange.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/originDepthRange.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/originTimeRange.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/phaseWindow.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/quantity.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/range.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/samplingRange.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/seismogramDisplay.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/seismogramImage.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/source.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/taup.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/time.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/timeRange.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="base/include/units.rng" parse="xml" xpointer="xpointer(//define)"/>

    
<!--  Event Arm -->
    <define name="eventArm">
        <element name="eventArm">
            <xsd:annotation>
                <description> The event arm gathers events from one or more event sources. 
                The event arm then processes each event
                    through any origin subsetters present. After this point,
                    the events are marked as accepted and the waveform arm begins to work on them.
                </description>
                <summary>Selects and processes events</summary>
                <velocity>#eventArmPage()</velocity>
            </xsd:annotation>
            <oneOrMore>
                <ref name="eventSource"/>
            </oneOrMore>
            <zeroOrMore>
                <ref name="origin"/>
            </zeroOrMore>
        </element>
    </define>
    <xi:include href="event/eventSource.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="event/origin.rng" parse="xml" xpointer="xpointer(//define)"/>

<!-- Network Arm -->
    <define name="networkArm">
        <element name="networkArm">
            <xsd:annotation>
                <summary>Selects and processes networks, stations, sites and channels</summary>
                <description>The network arm goes out to the server specified in the network finder,
                    and retrieves all the networks, stations sites, and channels that server knows
                    about that pass the subsetters contained in the arm. It then runs those
                    successful items through the processors, all the while keeping the network
                    status items abreast of the process. If a source is not given, it defaults to the
                    IRIS_NetworkDC at the DMC.</description>
                    <velocity>#networkArmPage()</velocity>
            </xsd:annotation>
            <optional>
                <ref name="networkSource"/>
            </optional>
            <optional>
                <ref name="network"/>
            </optional>
            <optional>
                <ref name="station"/>
            </optional>
            <zeroOrMore>
                <ref name="channel"/>
            </zeroOrMore>
        </element>
    </define>
    <xi:include href="network/networkSource.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="network/network.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="network/station.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="network/channel.rng" parse="xml" xpointer="xpointer(//define)"/>

<!-- seismogram arm -->

    <define name="waveformArmChoice">
        <choice>
            <xsd:annotation>
                <summary>Operates on the networks and events returned by the network and event arms</summary>
                <description>Both types of waveform arm take the items returned by the network and
                    event arms and generate the necessary requests to retrieve seismograms. The data
                    received are then processed. The regular waveformArm takes each channel from the
                    network arm and runs it through its subsetters and processors individually. The
                    waveformVectorArm takes the channels from the network arm, groups them as
                    motion vectors, and runs them through its items as a group.</description>
            </xsd:annotation>
            <ref name="waveformArm"/>
            <ref name="waveformVectorArm"/>
        </choice>
    </define>

<!-- Single seismogram arm -->

    <define name="waveformArm" >
        <element name="waveformArm">
            <xsd:annotation>
                <summary>Downloads and processes waveforms individually</summary>
                <velocity>#waveformArmPage()</velocity>
            </xsd:annotation>
            <optional>
                <ref name="eventStation"/>
            </optional>
            <optional>
                <ref name="eventChannel"/>
            </optional>
            <ref name="requestGenerator"/>
            <optional>
                <ref name="request"/>
            </optional>
            <optional>
                <ref name="seismogramSource"/>
            </optional>
            <optional>
                <ref name="availableData"/>
            </optional>
            <zeroOrMore>
                <ref name="seismogramProcess"/>
            </zeroOrMore>
        </element>
    </define>
    <xi:include href="waveform/eventStation.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/eventChannel.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/requestGenerator.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/requestSubsetter.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/seismogramSource.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/availableData.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/waveformProcess.rng" parse="xml" xpointer="xpointer(//define)"/>
    
    
    <define name="waveformVectorArm" >
        <element name="waveformVectorArm">
            <xsd:annotation>
                <summary>Downloads and processes waveforms by channel groups</summary>
                <description>The waveformVectorArm groups three orthogonal components from a site
                    and then does its processing on them as a group.</description>
                <velocity>#waveformVectorArmPage()</velocity>
            </xsd:annotation>
            <optional>
                <ref name="eventStation"/>
            </optional>
            <optional>
                <ref name="eventVector"/>
            </optional>
            <ref name="vectorRequestGenerator"/>
            <optional>
                <ref name="vectorRequest"/>
            </optional>
            <optional>
                <ref name="seismogramSource"/>
            </optional>
            <optional>
                <ref name="vectorAvailableData"/>
            </optional>
            <zeroOrMore>
                <ref name="waveformVectorProcess"/>
            </zeroOrMore>
        </element>
    </define>
    <!-- eventStation include above -->
    <xi:include href="waveform/eventVector.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/vectorRequestGenerator.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/vectorRequestSubsetter.rng" parse="xml" xpointer="xpointer(//define)"/>
    <!-- seismogramSource include above -->
    <xi:include href="waveform/vectorAvailableData.rng" parse="xml" xpointer="xpointer(//define)"/>
    <xi:include href="waveform/waveformVectorProcess.rng" parse="xml" xpointer="xpointer(//define)"/>
</grammar>
