relax/network/site.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xsd="http://http://www.w3.org/2001/XMLSchema">
    <start>
        <ref name="site"/>
    </start>
    <include href="../base/include/timeRange.rng"></include>
    <include href="../base/include/range.rng"/>
    <define name="site">
        <choice>
            <ref name="code"/>
            <ref name="depthRange"/>
            <ref name="effectiveTimeOverlap"/>
            <ref name="area"/>
            <ref name="AND"/>
            <ref name="OR"/>
            <ref name="XOR"/>
            <ref name="NOT"/>
        </choice>
    </define>
    <define name="code">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Matches a site code. </summary>
                <description> Matches a site code. This is a simple string match. </description>
                <example>
                    <siteCode>
                        <value>00</value>
                    </siteCode>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteCode">
            <data type="string"/>
        </element>
    </define>
    <define name="depthRange">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Matches sites at a range of depths below the surface. </summary>
                <description> Matches sites at a range of depths below the surface. This might be
                    used to separate surface sites from borehole sites. </description>
                <example>
                    <siteDepthRange>
                        <unit>METER</unit>
                        <min>100</min>
                        <max>200</max>
                    </siteDepthRange>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteDepthRange">
            <ref name="range"/>
        </element>
    </define>
    <define name="effectiveTimeOverlap">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Matches if the site effective time overlaps the given time range. </summary>
                <description> Matches if the site effective time overlaps the given time range. This
                    is generally used to avoid processing sites that did not yet exist, or were
                    deactivated before a time range of interest. </description>
                <example>
                    <siteEffectiveTimeOverlap>
                            <startTime>20020701T00:00:00.001Z</startTime>
                            <endTime>20021030T00:00:00.001Z</endTime>
                    </siteEffectiveTimeOverlap>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteEffectiveTimeOverlap">
            <ref name="timeRange"/>
        </element>
    </define>
    <define name="area">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Matches sites that are within a given area. </summary>
                <description> Matches sites that are within a given area. See the documentation for
                    Area to see the available area types. </description>
                <example>
                    <siteArea>
                        <boxArea>
                            <latitudeRange>
                                <min>25.123</min>
                                <max>25.124</max>
                            </latitudeRange>
                            <longitudeRange>
                                <min>-80.124</min>
                                <max>-80.123</max>
                            </longitudeRange>
                        </boxArea>
                    </siteArea>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteArea">
            <externalRef href="../base/externalRef/area.rng"/>
        </element>
    </define>
    <define name="AND">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical AND between site subsetters. </summary>
                <description> The output is the logical AND of the outputs of all included
                    subsetters. The subsetters after the first false outputed are not evaluated. </description>
                <example>
                    <siteAND>
                        <siteDepthRange>
                            <unitRange>
                                <unit>METER</unit>
                                <min>100</min>
                                <max>200</max>
                            </unitRange>
                        </siteDepthRange>
                        <siteEffectiveTimeOverlap>
                            <effectiveTimeOverlap>
                                <startTime>20020701T00:00:00.001Z</startTime>
                                <endTime>20021030T00:00:00.001Z</endTime>
                            </effectiveTimeOverlap>
                        </siteEffectiveTimeOverlap>
                    </siteAND>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteAND">
            <oneOrMore>
                <ref name="site"/>
            </oneOrMore>
        </element>
    </define>
    <define name="OR">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical OR between site subsetters. </summary>
                <description> The output is the logical OR of the outputs of all included
                    subsetters. If the first subsetters returns true then the second is not
                    evaluated. </description>
                <example>
                    <siteOR>
                        <siteDepthRange>
                            <unitRange>
                                <unit>METER</unit>
                                <min>100</min>
                                <max>200</max>
                            </unitRange>
                        </siteDepthRange>
                        <siteEffectiveTimeOverlap>
                                <startTime>20020701T00:00:00.001Z</startTime>
                                <endTime>20021030T00:00:00.001Z</endTime>
                        </siteEffectiveTimeOverlap>
                    </siteOR>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteOR">
            <oneOrMore>
                <ref name="site"/>
            </oneOrMore>
        </element>
    </define>
    <define name="XOR">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical XOR between site subsetters. </summary>
                <description> The output is the logical XOR of the outputs of the 2 included
                    subsetters. </description>
                <example>
                    <siteXOR>
                        <siteDepthRange>
                            <unitRange>
                                <unit>METER</unit>
                                <min>100</min>
                                <max>200</max>
                            </unitRange>
                        </siteDepthRange>
                        <siteEffectiveTimeOverlap>
                                <startTime>20020701T00:00:00.001Z</startTime>
                                <endTime>20021030T00:00:00.001Z</endTime>
                        </siteEffectiveTimeOverlap>
                    </siteXOR>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteXOR">
            <ref name="site"/>
            <ref name="site"/>
        </element>
    </define>
    <define name="NOT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                <summary> Logical NOT of an site subsetter. </summary>
                <description> The output is the logical NOT of the output of the included subsetter. </description>
                <example>
                    <siteNOT>
                        <siteDepthRange>
                            <unitRange>
                                <unit>METER</unit>
                                <min>100</min>
                                <max>200</max>
                            </unitRange>
                        </siteDepthRange>
                    </siteNOT>
                </example>
            </xsd:documentation>
        </xsd:annotation>
        <element name="siteNOT">
            <ref name="site"/>
        </element>
    </define>
</grammar>
