relax/network/status.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
    xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
    <start>
        <ref name="status"/>
    </start>
    <define name="status">
        <choice>
            <ref name="simpleHTML"/>
            <ref name="logFactor5"/>
            <ref name="networkStatusTemplate"/>
        </choice>
    </define>
    <define name="simpleHTML">
        <element name="simpleHTMLNetworkStatus">
            <optional>
                <element name="outputDirectory">
                    <data type="string"/>
                </element>
            </optional>
        </element>
    </define>
    <define name="logFactor5">
        <element name="logFactor5NetworkStatus">
            <empty/>
        </element>
    </define>
        <define name="networkStatusTemplate">
                <element name="networkInfoTemplateGenerator">
						<element name="fileDir">
								<data type="string"/>
						</element>
						<element name="netConfig">
								<attribute name="href" ns="http://www.w3.org/1999/xlink/"/>
						</element>
						<element name="stationConfig">
								<attribute name="href" ns="http://www.w3.org/1999/xlink/"/>
						</element>
						<element name="channelConfig">
								<attribute name="href" ns="http://www.w3.org/1999/xlink/"/>
						</element>
                </element>
        </define>
</grammar>
